<div ng-controller="newsEditController">
    <section class="content-header">
        <h1>
            &nbsp;
        </h1>
        <ol class="breadcrumb">
            <li><a href="javascript:void(0);"><i class="fa fa-home fa-lg"></i></a></li>
            <li><a href="javascript:void(0);">Quản lý sản phẩm</a></li>
            <li><a ui-sref="productCategories">Danh mục sản phẩm</a></li>
            <li><a class="link-active" ui-sref="news.edit">{{title}}</a></li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- Horizontal Form -->
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title"><i class="fa fa-plus-square"></i> {{title}}</h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    <!--<button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>-->
                </div>
            </div><!-- /.box-header -->
            <form novalidate role="form" name="formUpdateNews" ng-submit="updateNews()">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Tiêu đề</label>
                                <input class="form-control" placeholder="" type="text"
                                       ng-maxlength="256" required name="name" ng-model="news.Title"
                                       ng-class="{true:'inputInvalid', false:''}[submitted && formUpdateNews.name.$error.required]"
                                       ng-change="getAlias(news.Title)">
                                <span ng-show="submitted && formUpdateNews.name.$error.required" class="invalid">Bạn chưa nhập tiêu đề tin tức</span>
                                <span ng-show="submitted && formUpdateNews.name.$error.maxlength" class="invalid"><br />Tiêu đề tin tức không được quá 256 ký tự</span>
                            </div>
                            <div class="form-group">
                                <label for="exampleSelect1">Danh mục</label>
                                <select class="form-control" name="category" required
                                        ng-class="{true:'inputInvalid', false:''}[submitted && formNewProduct.category.$error.required]"
                                        ng-model="news.CategoryId"
                                        ng-options="c.Id as c.Name for c in newsCategories">
                                    <option value="" disabled>Chọn danh mục</option>
                                </select>
                                <span ng-show="submitted && formUpdateNews.category.$error.required" class="invalid">Bạn chưa chọn danh mục</span>
                            </div>


                        </div><!-- /.col -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Bí danh</label>
                                <input class="form-control" type="text" name="alias"
                                       ng-maxlength="256" required
                                       ng-class="{true:'inputInvalid', false:''}[submitted && formUpdateNews.alias.$error.required]"
                                       ng-model="news.Alias">
                                <span ng-show="submitted && formUpdateNews.alias.$error.required" class="invalid">Bạn chưa nhập alias</span>
                                <span ng-show="submitted && formUpdateNews.alias.$error.maxlength" class="invalid"><br />Bí danh không được quá 256 ký tự</span>
                            </div>
                            <div class="form-group">
                                <label>Hình ảnh</label>
                                <div class="row">
                                    <div class="col-lg-10"><input type="text" class="form-control" name="image" ng-model="news.Image"></div>
                                    <div class="col-lg-2"><button class="btn btn-default pull-right" style="margin-left:0" type="button" ng-click="chooseImage()">Chọn ảnh</button></div>
                                </div>
                                <div><img ng-src="{{news.Image}}" width="200" /></div>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input class="form-check-input" type="checkbox" ng-model="news.Status"> Trạng thái
                                    </label>
                                </div>
                            </div>
                        </div><!-- /.col -->
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Mô tả</label>
                                <textarea rows="8" class="form-control"  ng-maxlength="500" name="description" ng-model="news.Description"></textarea>
                                <span ng-show="submitted && formUpdateNews.description.$error.maxlength" class="invalid"><br />Mô tả không được quá 500 ký tự</span>
                            </div>
                        </div>
                    </div><!-- /.row -->
                </div><!-- /.box-body -->
                <div class="box-footer">
                    <button class="btn btn-primary" type="submit">Lưu</button>
                    <button ui-sref="news" class="btn btn-default">Hủy</button>
                </div>
            </form>
        </div><!-- /.box -->
    </section><!-- /.content -->
</div>