<div ng-controller="contactController">
    <section class="content-header">
        <h1>
            &nbsp;
        </h1>
        <ol class="breadcrumb">
            <li><a href="javascript:void(0);"><i class="fa fa-home fa-lg"></i></a></li>
            <li><a href="javascript:void(0);">Quản lý hệ thống</a></li>
            <li><a class="link-active" ui-sref="contact-us">Thông tin liên hệ</a></li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- Horizontal Form -->
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title"><i class="fa fa-plus-square"></i> {{title}}</h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div><!-- /.box-header -->
            <form novalidate role="form">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="row form-group">
                                <div class="col-md-3"><label>Tên</label></div>
                                <div class="col-md-9">
                                    <input class="form-control" type="text" 
                                           name="name" ng-model="contact.Name">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-3"><label>Địa chỉ</label></div>
                                <div class="col-md-9">
                                    <input class="form-control" type="text" name="name" ng-model="contact.Address">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-3"><label>Email</label></div>
                                <div class="col-md-9">
                                    <input  class="form-control" type="text" name="middleName" ng-model="contact.Email">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-3"><label>Số điện thoại</label></div>
                                <div class="col-md-9">
                                    <input  class="form-control" type="text" name="name" ng-model="contact.PhoneNumber">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-3"><label>Fax</label></div>
                                <div class="col-md-9">
                                    <input class="form-control" type="text" name="name" ng-model="contact.Fax">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-3"><label>Thông tin khác</label></div>
                                <div class="col-md-9">
                                    <textarea class="form-control" rows="6" name="name" ng-model="contact.Other" ></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- /.box-body -->
                <div class="box-footer">
                    <div class="col-md-12">
                        <button class="btn btn-default" ui-sref="home">Huỷ</button>
                        <button class="btn btn-primary" ng-click="update()">Lưu</button>
                    </div>
                </div>
            </form>
        </div><!-- /.box -->
    </section><!-- /.content -->
</div>