
@{
    ViewBag.Title = "NotLoggedIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-success text-center">
    <a href="/sign-in" title="Đăng nhập">Đăng nhập</a>  để mua hàng. <a href="/sign-up" title="Đăng ký">Đăng ký</a> nếu bạn chưa có tài khoản! Cảm ơn!
</div>

