
@{
    ViewBag.Title = "OrderSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-success text-center">
    <p>Bạn đã đặt hàng thành công, kiểm tra email để biết thêm chi tiết. <a href="/" title="Đi đến trang chủ Electronic Store">Đi đến trang chủ Electronic Store</a></p>
</div>

