
@{
    ViewBag.Title = "OrderErrors";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-danger text-center">
    <p>Đã xảy ra lỗi. <a href="/" title="Đi đến trang chủ Electronic Store">Đi đến trang chủ Electronic Store</a></p>
</div>

