
@{
    ViewBag.Title = "OutOfStock";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-success text-center">
    <p>Sản phẩm hiện đang hết hàng. <a href="/" title="Mua hàng">Tiếp tục mua hàng</a></p>
</div>


