<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Admin - Electronic Store</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.5 -->
    <link href="~/Assets/Admin/js/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <link href="~/Assets/Common/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->

    <link href="~/Assets/Admin/css/AdminLTE.min.css" rel="stylesheet" />
    <link href="~/Assets/Admin/css/style.css" rel="stylesheet" />    
    @*<link href="~/App/screens/login/login.css" rel="stylesheet" />*@
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link href="~/Assets/Admin/css/skins/_all-skins.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="hold-transition skin-blue sidebar-mini" ng-app="electronicStoreApp" ng-controller="layoutController">
    <div ui-view></div>
    <!-- Site wrapper -->
    <!-- jQuery 2.1.4 -->
    <script src="~/Assets/Admin/js/jquery/dist/jquery.js"></script>
    <!-- Bootstrap 3.3.5 -->
    <script src="~/Assets/Admin/js/bootstrap/dist/js/bootstrap.js"></script>
    <!-- SlimScroll -->
    <script src="~/Assets/Admin/js/slimScroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="~/Assets/Admin/js/fastclick/lib/fastclick.js"></script>

    <!-- Begin embed angularJS -->
    <script src="~/Assets/Admin/js/angular/angular.js"></script>
    <script src="~/Assets/Admin/js/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="~/Assets/Admin/js/angular-ui/ui-bootstrap.js"></script>
    <script src="~/Assets/Admin/js/angular-ui/ui-bootstrap-tpls.js"></script>
    <script src="~/Assets/Admin/js/underscore/underscore.js"></script>
    <script src="~/Assets/Admin/js/text-angular/textAngular-rangy.min.js"></script>
    <script src="~/Assets/Admin/js/text-angular/textAngular-sanitize.js"></script>
    <script src="~/Assets/Admin/js/text-angular/textAngular.min.js"></script>
    <script src="~/Assets/Admin/js/dirPagination.js"></script>
    <script src="~/Assets/Admin/js/bootbox/bootbox.js"></script>
    <script src="~/Assets/Admin/js/ckeditor/ckeditor.js"></script>
    <script src="~/Assets/Admin/js/ngBootbox/ngBootbox.js"></script>
    <script src="~/Assets/Admin/js/ng-ckeditor/ng-ckeditor.js"></script>
    <script src="~/Assets/Admin/js/ckfinder/ckfinder.js"></script>

    <script src="~/App/app.js"></script>
    <script src="~/App/global/template/layoutController.js"></script>
    <script src="~/App/global/common.js"></script>
    <script src="~/App/global/directives.js"></script>
    <script src="~/App/global/filters.js"></script>
    <script src="~/App/global/services/commonSvc.js"></script>
    <script src="~/App/global/services/productSvc.js"></script>
    <script src="~/App/global/services/productCategoriesSvc.js"></script>
    <script src="~/App/screens/home/home.js"></script>
    <script src="~/App/screens/login/login.js"></script>
    <script src="~/App/screens/product/product.js"></script>
    <script src="~/App/screens/productCategories/productCategories.js"></script>
</body>
</html>
