
@{
    ViewBag.Title = "SignIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- breadcrumbs -->
<div class="breadcrumb_dress">
    <div class="container">
        <ul>
            <li><a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Trang chủ</a> <i>/</i></li>
            <li>Đăng nhập</li>
        </ul>
    </div>
</div>
<!-- //breadcrumbs -->
<!-- mail -->
<div class="mail">
    <div class="container">
        <h3>Đăng nhập</h3>
        <div class="sign-form">
            <div class="col-md-6 col-md-offset-3">
                <h4>Thông tin đăng nhập</h4>
                <form action="#" name="sign-in-form" method="post">
                    <input type="text" name="Username" placeholder="Tên người dùng" class="form-control">
                    <input type="password" name="Password" placeholder="Mật khẩu" class="form-control">   
                    <input type="submit" value="Đăng nhập">
                </form>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //mail -->

