<main class="app-content" ng-controller="productListController">
    <div class="app-title">
        <div>
            <h1><i class="fa fa-th-list"></i> {{title}}</h1>
        </div>
        <ul class="app-breadcrumb breadcrumb side">
            <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
            <li class="breadcrumb-item">Manage products</li>
            <li class="breadcrumb-item active"><a ui-sref="products">{{title}}</a></li>
        </ul>
    </div>
    <!--<div class="row">
        <div class="col-md-12">-->
    <div class="tile">
        <div class="tile-body">
            <div class="row" style="margin-bottom: 10px;">
                <div class="col-md-6">
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="keyword" placeholder="&#xF002;" style="border-radius: 0px; font-family:Arial, FontAwesome; direction: ltr; text-align: right;">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" ng-click="search()">Search</button>
                        </span>
                    </div>
                </div>
                <div class="col-md-6">
                    <button class="btn btn-success" ui-sref="products.new">&nbsp; New &nbsp;</button>
                    <button class="btn btn-danger" ng-click="deleteMultiProduct()" ng-disabled="selectedProductIds.length === 0">Delete</button>
                </div>
            </div> 
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-hover table-bordered" id="sampleTable">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Created Date</th>
                                <th>Status</th>
                                <!--<th>Image</th>-->
                                <th>Action</th>
                                <th><input type="checkbox" ng-click="selectAllProduct()"
                                           ng-checked="(selectedProductIds.length === products.length) && selectedProductIds.length > 0 && products.length > 0"  />
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="product in products">
                                <td>{{product.Name}}</td>
                                <td>{{product.Price | currency:"$"}}</td>
                                <td>{{product.Quantity}}</td>
                                <td>
                                    {{product.CreatedDate  | date:'dd/MM/yyyy'}}
                                </td>
                                <td class="text-center"><span ng-show="product.Status"><i class="fa fa-circle text-success"></i></span></td>
                                <!--<td class="text-center"><img src="" alt="product image" /></td>-->
                                <td class="text-center">
                                    <button class="btn btn-sm btn-primary" title="Edit product" ui-sref="products.edit({id:product.Id})"><i class="fa fa-pencil"></i></button>
                                    <button class="btn  btn-sm btn-danger" title="Delete product"  ng-click="deleteProduct(product)"><i class="fa fa-trash"></i></button>
                                </td>
                                <td><input type="checkbox" ng-click="selectProduct(product)" ng-checked="productSelected(product)" /></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-push-4">
                <pagination class="text-center"></pagination>
            </div>
        </div>
        <!--<div class="paginate">
            <dir-pagination-controls max-size="5"
                                     direction-links="true"
                                     boundary-links="true">
            </dir-pagination-controls>
        </div>-->
        <div ng-if="loading" class="text-center">
            <img src="/Assets/Admin/images/ajax-loader-big.gif" />
        </div>
    </div>
    <!--</div>
    </div>-->
</main>