<div ng-controller="productListController">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>&nbsp;</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
            <li class="breadcrumb-item">Quản lý sản phẩm</li>
            <li><a class="link-active" ui-sref="products">{{title}}</a></li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title"><i class="fa fa-th-list"></i> {{title}}</h3>
                <div class="box-tools pull-right hidden-print">
                    <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
                    <!--<button class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove"><i class="fa fa-times"></i></button>-->
                </div>
            </div>
            <div class="box-body">
                <div class="row hidden-print">
                    <div class="col-lg-6">
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button class="btn btn-default" style="border-radius:unset;" type="button" ng-click="search()">Tìm kiếm</button>
                            </span>
                            <input type="text" class="form-control" ng-model="keyword" placeholder="&#xF002; Tìm theo tên sản phẩm" style="border-radius: 0px; font-family:Arial, FontAwesome; direction: ltr; text-align: left;">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <button class="btn btn-success" ui-sref="products.new">&nbsp; Thêm &nbsp;</button>
                        <button class="btn btn-print" ng-click="print()"> <i class="fa fa-print"></i> Print</button>
                        <button class="btn btn-danger pull-right" ng-click="deleteMultiProduct()" ng-disabled="selectedProductIds.length === 0">Xóa</button>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-lg-12">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Tên</th>
                                    <th>Giá</th>
                                    <th>Số lượng</th>
                                    <th>Hình ảnh</th>
                                    <th>Ngày tạo</th>
                                    <th>Trạng thái</th>
                                    <th class="hidden-print">Sửa/Xóa</th>
                                    <th class="text-center hidden-print">
                                        <input type="checkbox" ng-click="selectAllProduct()"
                                               ng-checked="(selectedProductIds.length === products.length) && selectedProductIds.length > 0 && products.length > 0" />
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="product in products">
                                    <td>{{product.Name}}</td>
                                    <td>{{product.Price | currency:"":0}} đ</td>
                                    <td>{{product.Quantity}}</td>
                                    <th><img height="100" src="{{product.Image}}"/></th>
                                    <td>
                                        {{product.CreatedDate  | date:'MM/dd/yyyy'}}
                                    </td>
                                    <td><span ng-show="product.Status" class="greenDot">•</span></td>
                                    <td class="hidden-print">
                                        <button class="btn btn-sm btn-primary" title="Edit product" ui-sref="products.edit({id:product.Id})"><i class="fa fa-pencil"></i></button>
                                        <button class="btn btn-sm btn-danger" title="Delete product" ng-click="deleteProduct(product)"><i class="fa fa-trash"></i></button>
                                    </td>
                                    <td class="text-center hidden-print"><input type="checkbox" ng-click="selectProduct(product)" ng-checked="productSelected(product)" /></td>
                                </tr>
                                <tr ng-show="products.length == 0" class="text-center">
                                    <td colspan="8">Không có bản ghi nào được tìm thấy</td>
                                </tr>
                            </tbody>
                        </table>
                        <div ng-if="loading" class="text-center">
                            <img src="/Assets/Admin/images/ajax-loader-big.gif" />
                        </div>
                    </div>
                    <div class="col-lg-12" ng-if="products">
                        <span class="pull-right">Trang: {{currentPage}}/{{totalPages}} - Tổng số bản ghi: {{totalItems}}</span>
                    </div>
                    <div class="col-lg-12">
                        <nav class="pull-right" ng-show="totalItems > pageSize || true">
                            <pagination total-items="totalItems"
                                        items-per-page="itemsPerPage"
                                        ng-model="currentPage"
                                        max-size="5"
                                        ng-show="totalItems > itemsPerPage"
                                        direction-links="true"
                                        boundary-links="true"
                                        rotate="false"
                                        ng-change="search()"
                                        class="pagination-sm pull-right">
                            </pagination>
                        </nav>
                    </div>
                </div>
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </section><!-- /.content -->
</div>