<div ng-controller="aboutController">
    <section class="content-header">
        <h1>
            &nbsp;
        </h1>
        <ol class="breadcrumb">
            <li><a href="javascript:void(0);"><i class="fa fa-home fa-lg"></i></a></li>
            <li><a href="javascript:void(0);">Quản lý hệ thống</a></li>
            <li><a class="link-active" ui-sref="about-us">Thông tin giới thiệu</a></li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- Horizontal Form -->
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title"><i class="fa fa-plus-square"></i> {{title}}</h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div><!-- /.box-header -->
            <form novalidate role="form">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row form-group">
                                <div class="col-md-2"><label>Tiêu đề</label></div>
                                <div class="col-md-10">
                                    <input class="form-control" type="text"
                                           name="name" ng-model="about.Title">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-2"><label>Mô tả</label></div>
                                <div class="col-md-10">
                                    <textarea class="form-control" name="description" ckeditor ng-model="about.Description"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- /.box-body -->
                <div class="box-footer">
                    <div class="col-md-12">
                        <button class="btn btn-default" ui-sref="home">Huỷ</button>
                        <button class="btn btn-primary" ng-click="update()">Lưu</button>
                    </div>
                </div>
            </form>
        </div><!-- /.box -->
    </section><!-- /.content -->
</div>